build/
__extra__
.pytest_cache
.coverage
coverage.xml
htmlcov
docs/_build
tests/pyss3
examples/datasets/movie_genres
examples/datasets/movie_review
examples/datasets/topic
dist/
*/pyss3
*.ss3_history
*ss3_models
*/__pycache__
*.pyc
*~
*.ipynb_checkpoints
*.egg-info/
.vscode/